{% extends 'home.html' %}

{% block content %}


    <h1>{{ task.name }}</h1>
    <p>{{ task.description }}</p>

    <h2>Comments</h2>
    {% for comment in comments %}
        <div>
            <p>{{ comment.user.username }}: {{ comment.content }}</p>
            {% if comment.image %}
                <a href="{{ comment.image.url }}" target="_blank">
                    <img src="{{ comment.image.url }}" alt="Comment Image" style="max-width: 100px; max-height: 100px;">
                </a>
            {% endif %}
        </div>
    {% endfor %}

    <h3>Add a comment</h3>
    <form id="comment-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add Comment</button>
    </form>

{% endblock %}