{% extends 'base.html' %}

{% block content %}


    <h1>{{ task.name }}</h1>
    <p>{{ task.description }}</p>

    <h2>Comments</h2>
    {% for comment in comments %}
        <div>
            <p>{{ comment.user.username }}: {{ comment.content }}</p>
            {% if comment.image %}
                <a href="{{ comment.image.url }}" target="_blank">
                    <img src="{{ comment.image.url }}" alt="Comment Image" style="max-width: 100px; max-height: 100px;">
                </a>
            {% endif %}
        </div>
    {% endfor %}

    <h3>Add a comment</h3>
    <form id="comment-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
    <div id="preview"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('comment-form');
            var preview = document.getElementById('preview');
            var files = [];

            form.addEventListener('dragover', function (e) {
                e.preventDefault();
            });

            form.addEventListener('drop', function (e) {
                e.preventDefault();

                files = e.dataTransfer.files;

                // Clear the preview div
                while (preview.firstChild) {
                    preview.removeChild(preview.firstChild);
                }

                // Create a new image element for each file
                for (var i = 0; i < files.length; i++) {
                    var img = document.createElement('img');
                    img.src = URL.createObjectURL(files[i]);
                    img.height = 100;
                    img.onload = function () {
                        URL.revokeObjectURL(this.src);
                    }
                    preview.appendChild(img);
                }
            });

            form.addEventListener('submit', function (e) {
                var formData = new FormData(form);
                for (var i = 0; i < files.length; i++) {
                    formData.append('images[]', files[i]);  // Add [] to the name parameter
                }

                e.preventDefault();
                fetch('{% url "task_detail" task_id=task.id %}', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    if (response.ok) {
                        console.log('Upload successful');
                        location.reload();  // Add this line to reload the page
                    } else {
                        console.error('Upload failed');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
{% endblock %}