{% extends 'home.html' %}
{% load common_custom_filters %}

{% block content %}
    {% include "svn/_base_revision_summary.html" %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">ChangeType</th>
            <th scope="col">FileChanged</th>
        </tr>
        </thead>
        <tbody>
        {% for file_change in file_changes %}
            <tr>

                <td>{{ file_change.change_type }}</td>
                {% if file_change.change_type == 'D' %}
                    <td class="text text-secondary">{{ file_change.file_path }}</td>
                {% elif file_change.file_path|endswith:".mb" or file_change.file_path|endswith:".ma" %}
                    <td><a href="/maya/maya_file/{{ file_change.id }}/">{{ file_change.file_path }}</a></td>
                {% else %}
                    <td>{{ file_change.file_path }}</td>
                {% endif %}

            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}
