{% extends 'home.html' %}
{% load common_custom_filters %}

{% block title %}
    {{ commit.repository }} - {{ commit.revision }}
{% endblock %}

{% block content %}
    {% include "svn/_base_revision_summary.html" %}

    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">Ext</th>
            <th scope="col">FileChanged</th>
        </tr>
        </thead>
        <tbody>
        {% for file_change in file_changes %}
            <tr>
                <td>{{ file_change.action }}</td>
                <td>
                    {% if file_change.path|endswith:".mb" or file_change.path|endswith:".ma" %}
                        <a href="/maya/maya_file/{{ file_change.id }}/">
                            {{ file_change.file_extension }}
                        </a>
                    {% endif %}

                </td>
                <td>
                    {% if file_change.action == 'D' %}
                        <span class="text text-svn-delete">{{ file_change.path }}</span>
                    {% elif file_change.action == 'A' %}
                        <span class="text text-svn-add">
                    {% elif file_change.action == 'M' %}
                        <span class="text text-svn-modified">
                    {% else %}
                        <span>
                    {% endif %}


                    {{ file_change.path }}

                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}